.título-planes{
    padding-top: 2%;
    padding-bottom: 2%;
    h1{
        color: $text-color;
        font-size: 350%;
        text-align: center;
    }
}

.diferentes-planes{
    padding: 4%;
    @include flex(row, center, center, 120px);
    article{
        width: 19rem;
        height: 39.5rem;
        background-color: $bg-color-3;
        border-style: solid;
        border-width: medium;
        border-color: $color-pr;
        @include grid(repeat(1, 1fr), repeat(4, 1fr) 140px);
    }
}

.subtítulo-plan{
    text-align: center;
    color: $text-color;
    background-color: $bg-color-1;
    font-size: 22px;
    padding-top: 6%;
    padding-bottom: 6%;
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    @include flex(column, center, center);
}
.descripcion-plan{
    width: 295px;
    height: 8.4rem;
    text-align: center;
    font-weight: 600;
    color: $bg-color-1;
    padding: 4% 4% 0% 4%;
    border-bottom: medium solid $color-pr;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    @include flex(row, center, center);
}

.contenido-plan{
    padding: 3% 0% 10% 0%;
    height: 16rem;
    border-bottom: medium solid $color-pr;
    grid-row: 3 / 5;
    grid-column: 1 / 1;
    p{
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: $bg-color-1;
    }
    ul{
        color: $bg-color-1;
        list-style: none;
        font-size: 20px;
    }
}

.precio-plan{
    padding-top: 4%;
    height: 8rem;
    @include flex(column, center, center);
    grid-row: 5 / 6;
    grid-column: 1 / 1;
    p{
        font-size: 30px;
        margin-bottom: 3px;
        font-weight: 700;
        color: $bg-color-1;
    }
    input{
        width: 140px;
        height: 40px;
        margin: 4%;
        font-size: 18px;
        font-weight: 600;
        background-color: $color-pr;
        border: solid medium $color-pr;
        border-radius: 15px;
        &:hover{
            color: $color-pr;
            background-color: $bg-color-1;
            cursor: pointer;
        }
    }
}

.dudas-contacto{
    text-align: center;
    padding: 3%;
    padding-bottom: 5%;
    h3{
        color: $text-color;
        font-size: 40px;
        padding-bottom: 1%;
    }
    a{
        font-size: 30px;
        font-weight: 600;
        color: $color-pr;
        text-decoration: none;
        &:hover{
            color: orange;
        }
    }
}